<header>
    <div class="main-view">
        <div class="overlay"></div>
        {{!-- ====== Silde ======== --}}
        <div class="main-slide">
            <div class="overlay"></div>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid" src="/images/canteen-ref.jpg" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Canteen shif</h3>
                            <p>You are welcome at GCC Canteen</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="/images/canteen-san.jpg" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Best Sandwich</h3>
                            <p>You are welcome at GCC Canteen</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="/images/glasgow.jpg" alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Canteen</h3>
                            <p>You are welcome at GCC Canteen</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- End of the slide --}}
        <img src="images/glasgow.jpg" alt="glasgow">
        <div class="welcome-text">
            <p>
                You are welcome to <strong class="main-color">Cyber Group's Canteen</strong>
            </p>
        </div>
        <i class="fa fa-arrow-circle-down move-down"></i>
    </div>
</header>
<!--/****************** Slider Show **********************/-->
<section class="main-menus">
    <div class="container">
        <h1>Our Menus</h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <table class="table table-bordered table-dark">
                        <thead>
                            <tr class="main-table-header">
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">First Week</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th scope="col">Monday</th>
                                <th scope="col">Tuesday</th>
                                <th scope="col">Wednesday</th>
                                <th scope="col">Thursday</th>
                                <th scope="col">Friday</th>
                            </tr>
                        </thead>
                        <thead class="main-color">
                            <tr>
                                <th scope="col">Today’s Soup Choice</th>
                                <th scope="col">Today’s Soup Choice</th>
                                <th scope="col">Today’s Soup Choice</th>
                                <th scope="col">Today’s Soup Choice</th>
                                <th scope="col">Today’s Soup Choice</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-success">
                                <td scope="row">Leek & Potato (v) =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Carrot & Coriander v =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Red lentil,chickpea&tomato (v) =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Vegetable Broth (v) =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Cock a Leekie (v) =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                            </tr>
                            <tr class="bg-danger">
                                <td scope="row">Chef’s choice of soup =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Chef’s choice of soup =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Chef’s choice of soup =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Chef’s choice of soup =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Chef’s choice of soup =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                            </tr>
                            <tr class="bg-info">
                                <td scope="row">Served with chef’s speciality bread =>
                                    <strong class="prise-color">£0.30</strong>
                                </td>
                                <td scope="row">Served with chef’s speciality bread =>
                                    <strong class="prise-color">£0.30</strong>
                                </td>
                                <td scope="row">Served with chef’s speciality bread =>
                                    <strong class="prise-color">£0.30</strong>
                                </td>
                                <td scope="row">Served with chef’s speciality bread =>
                                    <strong class="prise-color">£0.30</strong>
                                </td>
                                <td scope="row">Served with chef’s speciality bread =>
                                    <strong class="prise-color">£0.30</strong>
                                </td>
                            </tr>
                            <thead class="main-color">
                                <tr>
                                    <th scope="col">Main Course</th>
                                    <th scope="col">Main Course</th>
                                    <th scope="col">Curry Theme Day</th>
                                    <th scope="col">Main Course</th>
                                    <th scope="col">Main Course</th>
                                </tr>
                            </thead>
                            <tr class="bg-success">
                                <td scope="row">Scottish Steak & Sausage Pie, Baby jacket potatoes & Carrots =>
                                    <strong class="prise-color">£3.60</strong>
                                </td>
                                <td scope="row">Lean Minced Beef Spaghetti Bolognese =>
                                    <strong class="prise-color">£3.60</strong>
                                </td>
                                <td scope="row">Chinese chicken curry Piri Piri Beef & Peppers served with boiled rice =>
                                    <strong class="prise-color">£3.60</strong>
                                </td>
                                <td scope="row">Roast Pork, Apple Sauce Potatoes & Vegetables =>
                                    <strong class="prise-color">£3.60</strong>
                                </td>
                                <td scope="row">Breaded or battered Scottish haddock with tartar sauce and chips =>
                                    <strong class="prise-color">£3.60</strong>
                                </td>
                            </tr>
                            <tr class="bg-primary">
                                <td scope="row">
                    
                                </td>
                                <td scope="row">Add garlic Bread =>
                                    <strong class="prise-color">£.50</strong>
                                </td>
                                <td scope="row">Add – prawn crackers =>
                                    <strong class="prise-color">£0.30</strong>
                                </td>
                                <td scope="row">
                    
                                </td>
                                <td scope="row">Add – Garden peas =>
                                    <strong class="prise-color">£0.30</strong>
                                    </br>
                                    Add – bread and butter
                                    <strong class="prise-color">£0.40</strong>
                                </td>
                            </tr>
                            <tr class="bg-danger">
                                <td scope="row">Chips side =>
                                    <strong class="prise-color">£.80</strong>
                                    </br>
                                    Chips portion =>
                                    <strong class="prise-color">£1.30</strong>
                                    </br>
                                    Pasta King =>
                                    <strong class="prise-color">£1.75/£1.95</strong>
                                    </br>
                                </td>
                                <td scope="row">Chips side =>
                                    <strong class="prise-color">£.80</strong>
                                    </br>
                                    Chips portion =>
                                    <strong class="prise-color">£1.30</strong>
                                    </br>
                                    Pasta King =>
                                    <strong class="prise-color">£1.75/£1.95</strong>
                                    </br>
                                </td>
                                <td scope="row">Chips side =>
                                    <strong class="prise-color">£.80</strong>
                                    </br>
                                    Chips portion =>
                                    <strong class="prise-color">£1.30</strong>
                                    </br>
                                    Pasta King =>
                                    <strong class="prise-color">£1.75/£1.95</strong>
                                    </br>
                                </td>
                                <td scope="row">Chips side =>
                                    <strong class="prise-color">£.80</strong>
                                    </br>
                                    Chips portion =>
                                    <strong class="prise-color">£1.30</strong>
                                    </br>
                                    Pasta King =>
                                    <strong class="prise-color">£1.75/£1.95</strong>
                                    </br>
                                </td>
                                <td scope="row">Chips side =>
                                    <strong class="prise-color">£.80</strong>
                                    </br>
                                    Chips portion =>
                                    <strong class="prise-color">£1.30</strong>
                                    </br>
                                    Pasta King =>
                                    <strong class="prise-color">£1.75/£1.95</strong>
                                    </br>
                                </td>
                            </tr>
                            <tr class="bg-info">
                                <td scope="row">Prime Buccleuch cheeseburger =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Prime Buccleuch cheeseburger =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Prime Buccleuch cheeseburger =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Prime Buccleuch cheeseburger =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Prime Buccleuch cheeseburger =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                            </tr>
                            <thead>
                                <tr class="main-color">
                                    <th scope="col">Pasta Dish</th>
                                    <th scope="col">Vegetarian Option</th>
                                    <th scope="col">Vegetarian Option</th>
                                    <th scope="col">Pasta Dish</th>
                                    <th scope="col">Vegetarian Option</th>
                                </tr>
                            </thead>
                            <tr class="bg-success">
                                <td scope="row"> Cherry Tomato,Mixed =>
                                    <strong class="prise-color">£2.75</strong>
                                    </br>
                                    Vegetable & Pesto
                                    <strong class="prise-color">£2.75</strong>
                                    </br>
                                </td>
                                <td scope="row">Potato Topped Vegetable Hotpot =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Oven Baked Vegetable Spring Rolls with Noodles =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Provencale Vegetable Lasagne with Side Salad =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Vegetable Byriani =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                            </tr>
                            <thead>
                                <tr class="main-color">
                                    <th scope="col">The Bakehouse </th>
                                    <th scope="col">The Bakehouse </th>
                                    <th scope="col">The Bakehouse </th>
                                    <th scope="col">The Bakehouse </th>
                                    <th scope="col">The Bakehouse </th>
                                </tr>
                            </thead>
                            <tr class="bg-info">
                                <td scope="row">Selection of savoury pastries =>
                                    <strong class="prise-color">£1.05/£1.30</strong>
                                    </br>
                                    Baked potato or baked sweet potato with various fillings
                                    <strong class="prise-color">£1.20</strong>
                                    </br>
                                </td>
                                <td scope="row">Selection of savoury pastries =>
                                    <strong class="prise-color">£1.05/£1.30</strong>
                                    </br>
                                    Baked potato or baked sweet potato with various fillings
                                    <strong class="prise-color">£1.20</strong>
                                    </br>
                                </td>
                                <td scope="row">Selection of savoury pastries =>
                                    <strong class="prise-color">£1.05/£1.30</strong>
                                    </br>
                                    Baked potato or baked sweet potato with various fillings
                                    <strong class="prise-color">£1.20</strong>
                                    </br>
                                </td>
                                <td scope="row">Selection of savoury pastries =>
                                    <strong class="prise-color">£1.05/£1.30</strong>
                                    </br>
                                    Baked potato or baked sweet potato with various fillings
                                    <strong class="prise-color">£1.20</strong>
                                    </br>
                                </td>
                                <td scope="row">Selection of savoury pastries =>
                                    <strong class="prise-color">£1.05/£1.30</strong>
                                    </br>
                                    Baked potato or baked sweet potato with various fillings
                                    <strong class="prise-color">£1.20</strong>
                                    </br>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="carousel-item">
                    <!--*************** Second Table ***************-->
                    <table class="table table-bordered table-dark">
                        <thead>
                            <tr class="main-table-header">
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">Week Two</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            <tr>
                                <th scope="col">Monday</th>
                                <th scope="col">Tuesday</th>
                                <th scope="col">Wednesday</th>
                                <th scope="col">Thursday</th>
                                <th scope="col">Friday</th>
                            </tr>
                        </thead>
                        <thead class="main-color">
                            <tr>
                                <th scope="col">Today’s Soup Choice</th>
                                <th scope="col">Today’s Soup Choice</th>
                                <th scope="col">Today’s Soup Choice</th>
                                <th scope="col">Today’s Soup Choice</th>
                                <th scope="col">Today’s Soup Choice</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-success">
                                <td scope="row">Leek & Potato (v) =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Carrot & Coriander v =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Red lentil,chickpea&tomato (v) =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Vegetable Broth (v) =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Cock a Leekie (v) =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                            </tr>
                            <tr class="bg-danger">
                                <td scope="row">Chef’s choice of soup =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Chef’s choice of soup =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Chef’s choice of soup =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Chef’s choice of soup =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Chef’s choice of soup =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                            </tr>
                            <tr class="bg-info">
                                <td scope="row">Served with chef’s speciality bread =>
                                    <strong class="prise-color">£0.30</strong>
                                </td>
                                <td scope="row">Served with chef’s speciality bread =>
                                    <strong class="prise-color">£0.30</strong>
                                </td>
                                <td scope="row">Served with chef’s speciality bread =>
                                    <strong class="prise-color">£0.30</strong>
                                </td>
                                <td scope="row">Served with chef’s speciality bread =>
                                    <strong class="prise-color">£0.30</strong>
                                </td>
                                <td scope="row">Served with chef’s speciality bread =>
                                    <strong class="prise-color">£0.30</strong>
                                </td>
                            </tr>
                            <thead class="main-color">
                                <tr>
                                    <th scope="col">Main Course</th>
                                    <th scope="col">Main Course</th>
                                    <th scope="col">Curry Theme Day</th>
                                    <th scope="col">Main Course</th>
                                    <th scope="col">Main Course</th>
                                </tr>
                            </thead>
                            <tr class="bg-success">
                                <td scope="row">Scottish Steak & Sausage Pie, Baby jacket potatoes & Carrots =>
                                    <strong class="prise-color">£3.60</strong>
                                </td>
                                <td scope="row">Lean Minced Beef Spaghetti Bolognese =>
                                    <strong class="prise-color">£3.60</strong>
                                </td>
                                <td scope="row">Chinese chicken curry Piri Piri Beef & Peppers served with boiled rice =>
                                    <strong class="prise-color">£3.60</strong>
                                </td>
                                <td scope="row">Roast Pork, Apple Sauce Potatoes & Vegetables =>
                                    <strong class="prise-color">£3.60</strong>
                                </td>
                                <td scope="row">Breaded or battered Scottish haddock with tartar sauce and chips =>
                                    <strong class="prise-color">£3.60</strong>
                                </td>
                            </tr>
                            <tr class="bg-primary">
                                <td scope="row">
                    
                                </td>
                                <td scope="row">Add garlic Bread =>
                                    <strong class="prise-color">£.50</strong>
                                </td>
                                <td scope="row">Add – prawn crackers =>
                                    <strong class="prise-color">£0.30</strong>
                                </td>
                                <td scope="row">
                    
                                </td>
                                <td scope="row">Add – Garden peas =>
                                    <strong class="prise-color">£0.30</strong>
                                    </br>
                                    Add – bread and butter
                                    <strong class="prise-color">£0.40</strong>
                                </td>
                            </tr>
                            <tr class="bg-danger">
                                <td scope="row">Chips side =>
                                    <strong class="prise-color">£.80</strong>
                                    </br>
                                    Chips portion =>
                                    <strong class="prise-color">£1.30</strong>
                                    </br>
                                    Pasta King =>
                                    <strong class="prise-color">£1.75/£1.95</strong>
                                    </br>
                                </td>
                                <td scope="row">Chips side =>
                                    <strong class="prise-color">£.80</strong>
                                    </br>
                                    Chips portion =>
                                    <strong class="prise-color">£1.30</strong>
                                    </br>
                                    Pasta King =>
                                    <strong class="prise-color">£1.75/£1.95</strong>
                                    </br>
                                </td>
                                <td scope="row">Chips side =>
                                    <strong class="prise-color">£.80</strong>
                                    </br>
                                    Chips portion =>
                                    <strong class="prise-color">£1.30</strong>
                                    </br>
                                    Pasta King =>
                                    <strong class="prise-color">£1.75/£1.95</strong>
                                    </br>
                                </td>
                                <td scope="row">Chips side =>
                                    <strong class="prise-color">£.80</strong>
                                    </br>
                                    Chips portion =>
                                    <strong class="prise-color">£1.30</strong>
                                    </br>
                                    Pasta King =>
                                    <strong class="prise-color">£1.75/£1.95</strong>
                                    </br>
                                </td>
                                <td scope="row">Chips side =>
                                    <strong class="prise-color">£.80</strong>
                                    </br>
                                    Chips portion =>
                                    <strong class="prise-color">£1.30</strong>
                                    </br>
                                    Pasta King =>
                                    <strong class="prise-color">£1.75/£1.95</strong>
                                    </br>
                                </td>
                            </tr>
                            <tr class="bg-info">
                                <td scope="row">Prime Buccleuch cheeseburger =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Prime Buccleuch cheeseburger =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Prime Buccleuch cheeseburger =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Prime Buccleuch cheeseburger =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Prime Buccleuch cheeseburger =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                            </tr>
                            <thead>
                                <tr class="main-color">
                                    <th scope="col">Pasta Dish</th>
                                    <th scope="col">Vegetarian Option</th>
                                    <th scope="col">Vegetarian Option</th>
                                    <th scope="col">Pasta Dish</th>
                                    <th scope="col">Vegetarian Option</th>
                                </tr>
                            </thead>
                            <tr class="bg-success">
                                <td scope="row"> Cherry Tomato,Mixed =>
                                    <strong class="prise-color">£2.75</strong>
                                    </br>
                                    Vegetable & Pesto
                                    <strong class="prise-color">£2.75</strong>
                                    </br>
                                </td>
                                <td scope="row">Potato Topped Vegetable Hotpot =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Oven Baked Vegetable Spring Rolls with Noodles =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Provencale Vegetable Lasagne with Side Salad =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Vegetable Byriani =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                            </tr>
                            <thead>
                                <tr class="main-color">
                                    <th scope="col">The Bakehouse </th>
                                    <th scope="col">The Bakehouse </th>
                                    <th scope="col">The Bakehouse </th>
                                    <th scope="col">The Bakehouse </th>
                                    <th scope="col">The Bakehouse </th>
                                </tr>
                            </thead>
                            <tr class="bg-info">
                                <td scope="row">Selection of savoury pastries =>
                                    <strong class="prise-color">£1.05/£1.30</strong>
                                    </br>
                                    Baked potato or baked sweet potato with various fillings
                                    <strong class="prise-color">£1.20</strong>
                                    </br>
                                </td>
                                <td scope="row">Selection of savoury pastries =>
                                    <strong class="prise-color">£1.05/£1.30</strong>
                                    </br>
                                    Baked potato or baked sweet potato with various fillings
                                    <strong class="prise-color">£1.20</strong>
                                    </br>
                                </td>
                                <td scope="row">Selection of savoury pastries =>
                                    <strong class="prise-color">£1.05/£1.30</strong>
                                    </br>
                                    Baked potato or baked sweet potato with various fillings
                                    <strong class="prise-color">£1.20</strong>
                                    </br>
                                </td>
                                <td scope="row">Selection of savoury pastries =>
                                    <strong class="prise-color">£1.05/£1.30</strong>
                                    </br>
                                    Baked potato or baked sweet potato with various fillings
                                    <strong class="prise-color">£1.20</strong>
                                    </br>
                                </td>
                                <td scope="row">Selection of savoury pastries =>
                                    <strong class="prise-color">£1.05/£1.30</strong>
                                    </br>
                                    Baked potato or baked sweet potato with various fillings
                                    <strong class="prise-color">£1.20</strong>
                                    </br>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="carousel-item">
                    <!--=========== Third menu ============-->
                    <table class="table table-bordered table-dark">
                        <thead>
                            <tr class="main-table-header">
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">Third Week</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            <tr>
                                <th scope="col">Monday</th>
                                <th scope="col">Tuesday</th>
                                <th scope="col">Wednesday</th>
                                <th scope="col">Thursday</th>
                                <th scope="col">Friday</th>
                            </tr>
                        </thead>
                        <thead class="main-color">
                            <tr>
                                <th scope="col">Today’s Soup Choice</th>
                                <th scope="col">Today’s Soup Choice</th>
                                <th scope="col">Today’s Soup Choice</th>
                                <th scope="col">Today’s Soup Choice</th>
                                <th scope="col">Today’s Soup Choice</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-success">
                                <td scope="row">Leek & Potato (v) =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Carrot & Coriander v =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Red lentil,chickpea&tomato (v) =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Vegetable Broth (v) =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Cock a Leekie (v) =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                            </tr>
                            <tr class="bg-danger">
                                <td scope="row">Chef’s choice of soup =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Chef’s choice of soup =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Chef’s choice of soup =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Chef’s choice of soup =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Chef’s choice of soup =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                            </tr>
                            <tr class="bg-info">
                                <td scope="row">Served with chef’s speciality bread =>
                                    <strong class="prise-color">£0.30</strong>
                                </td>
                                <td scope="row">Served with chef’s speciality bread =>
                                    <strong class="prise-color">£0.30</strong>
                                </td>
                                <td scope="row">Served with chef’s speciality bread =>
                                    <strong class="prise-color">£0.30</strong>
                                </td>
                                <td scope="row">Served with chef’s speciality bread =>
                                    <strong class="prise-color">£0.30</strong>
                                </td>
                                <td scope="row">Served with chef’s speciality bread =>
                                    <strong class="prise-color">£0.30</strong>
                                </td>
                            </tr>
                            <thead class="main-color">
                                <tr>
                                    <th scope="col">Main Course</th>
                                    <th scope="col">Main Course</th>
                                    <th scope="col">Curry Theme Day</th>
                                    <th scope="col">Main Course</th>
                                    <th scope="col">Main Course</th>
                                </tr>
                            </thead>
                            <tr class="bg-success">
                                <td scope="row">Scottish Steak & Sausage Pie, Baby jacket potatoes & Carrots =>
                                    <strong class="prise-color">£3.60</strong>
                                </td>
                                <td scope="row">Lean Minced Beef Spaghetti Bolognese =>
                                    <strong class="prise-color">£3.60</strong>
                                </td>
                                <td scope="row">Chinese chicken curry Piri Piri Beef & Peppers served with boiled rice =>
                                    <strong class="prise-color">£3.60</strong>
                                </td>
                                <td scope="row">Roast Pork, Apple Sauce Potatoes & Vegetables =>
                                    <strong class="prise-color">£3.60</strong>
                                </td>
                                <td scope="row">Breaded or battered Scottish haddock with tartar sauce and chips =>
                                    <strong class="prise-color">£3.60</strong>
                                </td>
                            </tr>
                            <tr class="bg-primary">
                                <td scope="row">
                    
                                </td>
                                <td scope="row">Add garlic Bread =>
                                    <strong class="prise-color">£.50</strong>
                                </td>
                                <td scope="row">Add – prawn crackers =>
                                    <strong class="prise-color">£0.30</strong>
                                </td>
                                <td scope="row">
                    
                                </td>
                                <td scope="row">Add – Garden peas =>
                                    <strong class="prise-color">£0.30</strong>
                                    </br>
                                    Add – bread and butter
                                    <strong class="prise-color">£0.40</strong>
                                </td>
                            </tr>
                            <tr class="bg-danger">
                                <td scope="row">Chips side =>
                                    <strong class="prise-color">£.80</strong>
                                    </br>
                                    Chips portion =>
                                    <strong class="prise-color">£1.30</strong>
                                    </br>
                                    Pasta King =>
                                    <strong class="prise-color">£1.75/£1.95</strong>
                                    </br>
                                </td>
                                <td scope="row">Chips side =>
                                    <strong class="prise-color">£.80</strong>
                                    </br>
                                    Chips portion =>
                                    <strong class="prise-color">£1.30</strong>
                                    </br>
                                    Pasta King =>
                                    <strong class="prise-color">£1.75/£1.95</strong>
                                    </br>
                                </td>
                                <td scope="row">Chips side =>
                                    <strong class="prise-color">£.80</strong>
                                    </br>
                                    Chips portion =>
                                    <strong class="prise-color">£1.30</strong>
                                    </br>
                                    Pasta King =>
                                    <strong class="prise-color">£1.75/£1.95</strong>
                                    </br>
                                </td>
                                <td scope="row">Chips side =>
                                    <strong class="prise-color">£.80</strong>
                                    </br>
                                    Chips portion =>
                                    <strong class="prise-color">£1.30</strong>
                                    </br>
                                    Pasta King =>
                                    <strong class="prise-color">£1.75/£1.95</strong>
                                    </br>
                                </td>
                                <td scope="row">Chips side =>
                                    <strong class="prise-color">£.80</strong>
                                    </br>
                                    Chips portion =>
                                    <strong class="prise-color">£1.30</strong>
                                    </br>
                                    Pasta King =>
                                    <strong class="prise-color">£1.75/£1.95</strong>
                                    </br>
                                </td>
                            </tr>
                            <tr class="bg-info">
                                <td scope="row">Prime Buccleuch cheeseburger =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Prime Buccleuch cheeseburger =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Prime Buccleuch cheeseburger =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Prime Buccleuch cheeseburger =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Prime Buccleuch cheeseburger =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                            </tr>
                            <thead>
                                <tr class="main-color">
                                    <th scope="col">Pasta Dish</th>
                                    <th scope="col">Vegetarian Option</th>
                                    <th scope="col">Vegetarian Option</th>
                                    <th scope="col">Pasta Dish</th>
                                    <th scope="col">Vegetarian Option</th>
                                </tr>
                            </thead>
                            <tr class="bg-success">
                                <td scope="row"> Cherry Tomato,Mixed =>
                                    <strong class="prise-color">£2.75</strong>
                                    </br>
                                    Vegetable & Pesto
                                    <strong class="prise-color">£2.75</strong>
                                    </br>
                                </td>
                                <td scope="row">Potato Topped Vegetable Hotpot =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Oven Baked Vegetable Spring Rolls with Noodles =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Provencale Vegetable Lasagne with Side Salad =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Vegetable Byriani =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                            </tr>
                            <thead>
                                <tr class="main-color">
                                    <th scope="col">The Bakehouse </th>
                                    <th scope="col">The Bakehouse </th>
                                    <th scope="col">The Bakehouse </th>
                                    <th scope="col">The Bakehouse </th>
                                    <th scope="col">The Bakehouse </th>
                                </tr>
                            </thead>
                            <tr class="bg-info">
                                <td scope="row">Selection of savoury pastries =>
                                    <strong class="prise-color">£1.05/£1.30</strong>
                                    </br>
                                    Baked potato or baked sweet potato with various fillings
                                    <strong class="prise-color">£1.20</strong>
                                    </br>
                                </td>
                                <td scope="row">Selection of savoury pastries =>
                                    <strong class="prise-color">£1.05/£1.30</strong>
                                    </br>
                                    Baked potato or baked sweet potato with various fillings
                                    <strong class="prise-color">£1.20</strong>
                                    </br>
                                </td>
                                <td scope="row">Selection of savoury pastries =>
                                    <strong class="prise-color">£1.05/£1.30</strong>
                                    </br>
                                    Baked potato or baked sweet potato with various fillings
                                    <strong class="prise-color">£1.20</strong>
                                    </br>
                                </td>
                                <td scope="row">Selection of savoury pastries =>
                                    <strong class="prise-color">£1.05/£1.30</strong>
                                    </br>
                                    Baked potato or baked sweet potato with various fillings
                                    <strong class="prise-color">£1.20</strong>
                                    </br>
                                </td>
                                <td scope="row">Selection of savoury pastries =>
                                    <strong class="prise-color">£1.05/£1.30</strong>
                                    </br>
                                    Baked potato or baked sweet potato with various fillings
                                    <strong class="prise-color">£1.20</strong>
                                    </br>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="carousel-item">
                    <!--################ Forth Menu #################-->
                    <table class="table table-bordered table-dark">
                        <thead>
                            <tr class="main-table-header">
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">Frouth Week</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            <tr>
                                <th scope="col">Monday</th>
                                <th scope="col">Tuesday</th>
                                <th scope="col">Wednesday</th>
                                <th scope="col">Thursday</th>
                                <th scope="col">Friday</th>
                            </tr>
                        </thead>
                        <thead class="main-color">
                            <tr>
                                <th scope="col">Today’s Soup Choice</th>
                                <th scope="col">Today’s Soup Choice</th>
                                <th scope="col">Today’s Soup Choice</th>
                                <th scope="col">Today’s Soup Choice</th>
                                <th scope="col">Today’s Soup Choice</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-success">
                                <td scope="row">Leek & Potato (v) =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Carrot & Coriander v =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Red lentil,chickpea&tomato (v) =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Vegetable Broth (v) =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Cock a Leekie (v) =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                            </tr>
                            <tr class="bg-danger">
                                <td scope="row">Chef’s choice of soup =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Chef’s choice of soup =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Chef’s choice of soup =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Chef’s choice of soup =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                                <td scope="row">Chef’s choice of soup =>
                                    <strong class="prise-color">£1.00s/£1.30l</strong>
                                </td>
                            </tr>
                            <tr class="bg-info">
                                <td scope="row">Served with chef’s speciality bread =>
                                    <strong class="prise-color">£0.30</strong>
                                </td>
                                <td scope="row">Served with chef’s speciality bread =>
                                    <strong class="prise-color">£0.30</strong>
                                </td>
                                <td scope="row">Served with chef’s speciality bread =>
                                    <strong class="prise-color">£0.30</strong>
                                </td>
                                <td scope="row">Served with chef’s speciality bread =>
                                    <strong class="prise-color">£0.30</strong>
                                </td>
                                <td scope="row">Served with chef’s speciality bread =>
                                    <strong class="prise-color">£0.30</strong>
                                </td>
                            </tr>
                            <thead class="main-color">
                                <tr>
                                    <th scope="col">Main Course</th>
                                    <th scope="col">Main Course</th>
                                    <th scope="col">Curry Theme Day</th>
                                    <th scope="col">Main Course</th>
                                    <th scope="col">Main Course</th>
                                </tr>
                            </thead>
                            <tr class="bg-success">
                                <td scope="row">Scottish Steak & Sausage Pie, Baby jacket potatoes & Carrots =>
                                    <strong class="prise-color">£3.60</strong>
                                </td>
                                <td scope="row">Lean Minced Beef Spaghetti Bolognese =>
                                    <strong class="prise-color">£3.60</strong>
                                </td>
                                <td scope="row">Chinese chicken curry Piri Piri Beef & Peppers served with boiled rice =>
                                    <strong class="prise-color">£3.60</strong>
                                </td>
                                <td scope="row">Roast Pork, Apple Sauce Potatoes & Vegetables =>
                                    <strong class="prise-color">£3.60</strong>
                                </td>
                                <td scope="row">Breaded or battered Scottish haddock with tartar sauce and chips =>
                                    <strong class="prise-color">£3.60</strong>
                                </td>
                            </tr>
                            <tr class="bg-primary">
                                <td scope="row">
                    
                                </td>
                                <td scope="row">Add garlic Bread =>
                                    <strong class="prise-color">£.50</strong>
                                </td>
                                <td scope="row">Add – prawn crackers =>
                                    <strong class="prise-color">£0.30</strong>
                                </td>
                                <td scope="row">
                    
                                </td>
                                <td scope="row">Add – Garden peas =>
                                    <strong class="prise-color">£0.30</strong>
                                    </br>
                                    Add – bread and butter
                                    <strong class="prise-color">£0.40</strong>
                                </td>
                            </tr>
                            <tr class="bg-danger">
                                <td scope="row">Chips side =>
                                    <strong class="prise-color">£.80</strong>
                                    </br>
                                    Chips portion =>
                                    <strong class="prise-color">£1.30</strong>
                                    </br>
                                    Pasta King =>
                                    <strong class="prise-color">£1.75/£1.95</strong>
                                    </br>
                                </td>
                                <td scope="row">Chips side =>
                                    <strong class="prise-color">£.80</strong>
                                    </br>
                                    Chips portion =>
                                    <strong class="prise-color">£1.30</strong>
                                    </br>
                                    Pasta King =>
                                    <strong class="prise-color">£1.75/£1.95</strong>
                                    </br>
                                </td>
                                <td scope="row">Chips side =>
                                    <strong class="prise-color">£.80</strong>
                                    </br>
                                    Chips portion =>
                                    <strong class="prise-color">£1.30</strong>
                                    </br>
                                    Pasta King =>
                                    <strong class="prise-color">£1.75/£1.95</strong>
                                    </br>
                                </td>
                                <td scope="row">Chips side =>
                                    <strong class="prise-color">£.80</strong>
                                    </br>
                                    Chips portion =>
                                    <strong class="prise-color">£1.30</strong>
                                    </br>
                                    Pasta King =>
                                    <strong class="prise-color">£1.75/£1.95</strong>
                                    </br>
                                </td>
                                <td scope="row">Chips side =>
                                    <strong class="prise-color">£.80</strong>
                                    </br>
                                    Chips portion =>
                                    <strong class="prise-color">£1.30</strong>
                                    </br>
                                    Pasta King =>
                                    <strong class="prise-color">£1.75/£1.95</strong>
                                    </br>
                                </td>
                            </tr>
                            <tr class="bg-info">
                                <td scope="row">Prime Buccleuch cheeseburger =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Prime Buccleuch cheeseburger =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Prime Buccleuch cheeseburger =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Prime Buccleuch cheeseburger =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Prime Buccleuch cheeseburger =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                            </tr>
                            <thead>
                                <tr class="main-color">
                                    <th scope="col">Pasta Dish</th>
                                    <th scope="col">Vegetarian Option</th>
                                    <th scope="col">Vegetarian Option</th>
                                    <th scope="col">Pasta Dish</th>
                                    <th scope="col">Vegetarian Option</th>
                                </tr>
                            </thead>
                            <tr class="bg-success">
                                <td scope="row"> Cherry Tomato,Mixed =>
                                    <strong class="prise-color">£2.75</strong>
                                    </br>
                                    Vegetable & Pesto
                                    <strong class="prise-color">£2.75</strong>
                                    </br>
                                </td>
                                <td scope="row">Potato Topped Vegetable Hotpot =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Oven Baked Vegetable Spring Rolls with Noodles =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Provencale Vegetable Lasagne with Side Salad =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                                <td scope="row">Vegetable Byriani =>
                                    <strong class="prise-color">£2.75</strong>
                                </td>
                            </tr>
                            <thead>
                                <tr class="main-color">
                                    <th scope="col">The Bakehouse </th>
                                    <th scope="col">The Bakehouse </th>
                                    <th scope="col">The Bakehouse </th>
                                    <th scope="col">The Bakehouse </th>
                                    <th scope="col">The Bakehouse </th>
                                </tr>
                            </thead>
                            <tr class="bg-info">
                                <td scope="row">Selection of savoury pastries =>
                                    <strong class="prise-color">£1.05/£1.30</strong>
                                    </br>
                                    Baked potato or baked sweet potato with various fillings
                                    <strong class="prise-color">£1.20</strong>
                                    </br>
                                </td>
                                <td scope="row">Selection of savoury pastries =>
                                    <strong class="prise-color">£1.05/£1.30</strong>
                                    </br>
                                    Baked potato or baked sweet potato with various fillings
                                    <strong class="prise-color">£1.20</strong>
                                    </br>
                                </td>
                                <td scope="row">Selection of savoury pastries =>
                                    <strong class="prise-color">£1.05/£1.30</strong>
                                    </br>
                                    Baked potato or baked sweet potato with various fillings
                                    <strong class="prise-color">£1.20</strong>
                                    </br>
                                </td>
                                <td scope="row">Selection of savoury pastries =>
                                    <strong class="prise-color">£1.05/£1.30</strong>
                                    </br>
                                    Baked potato or baked sweet potato with various fillings
                                    <strong class="prise-color">£1.20</strong>
                                    </br>
                                </td>
                                <td scope="row">Selection of savoury pastries =>
                                    <strong class="prise-color">£1.05/£1.30</strong>
                                    </br>
                                    Baked potato or baked sweet potato with various fillings
                                    <strong class="prise-color">£1.20</strong>
                                    </br>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
<!--============================================-->
<!--============== Feedback ====================-->
<!--============================================-->
<div class="feeback">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h1>Leaver your feedback here please</h1>
                <form method="post">
                    <input type="text" value="{{editFeedback.name}}" class="form-control" placeholder="Full name" name="name" id="#"></br>
                    <textarea name="message" class="form-control" placeholder="Message" id="" cols="30" rows="10">{{editFeedback.message}}</textarea></br>
                    <input type="submit" class="btn btn-primary" value="Send">
                </form>
            </div>
        </div>
    </div>
</div>
<!--=====================================================-->
<!--============== Feedback messages ====================-->
<!--=====================================================-->
<div class="feeback-result">
    <div class="container">
        <div class="row">
            {{#each feedbackData}}
                <div class="col-lg-10 offset-lg-1 message">
                    <h3>{{this.name}}</h3>
                    <p>{{this.message}}</p>
                    <a href="/delete/{{this._id}}" class="btn-sm btn-danger">Delete</a>
                    <a href="/edit/{{this._id}}" class="btn-sm btn-info">Edit</a>
                </div>
            {{/each}}
        </div>
    </div>
</div>

